@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* Light theme */
  :root {
    --background: 0.00 0.00% 100.00%;
    --foreground: 198.26 92.00% 4.90%;

    --primary: 197.59 93.55% 48.63%;
    --primary-foreground: 198.26 92.00% 4.90%;

    --card: 204.00 100.00% 99.02%;
    --card-foreground: 198.26 92.00% 4.90%;

    --popover: 204.00 100.00% 99.02%;
    --popover-foreground: 198.26 92.00% 4.90%;

    --secondary: 197.14 89.74% 92.35%;
    --secondary-foreground: 0.00 0.00% 0.00%;

    --muted: 197.50 92.31% 94.90%;
    --muted-foreground: 0.00 0.00% 40.00%;

    --accent: 197.50 92.31% 94.90%;
    --accent-foreground: 197.14 94.59% 7.25%;

    --destructive: 0.00 84.24% 60.20%;
    --destructive-foreground: 210.00 40.00% 98.04%;

    --border: 197.65 27.87% 88.04%;

    --input: 196.55 29.90% 80.98%;

    --ring: 197.59 93.55% 48.63%;

    --chart-1: 197.59 93.55% 48.63%;
    --chart-2: 197.66 88.34% 56.27%;
    --chart-3: 197.48 88.30% 66.47%;
    --chart-4: 197.81 88.89% 71.76%;
    --chart-5: 197.31 88.14% 76.86%;

    --sidebar: 204.00 100.00% 99.02%;
    --sidebar-foreground: 198.26 92.00% 4.90%;
    --sidebar-primary: 197.59 93.55% 48.63%;  
    --sidebar-primary-foreground: 198.26 92.00% 4.90%;
    --sidebar-accent: 197.59 93.55% 48.63%;
    --sidebar-accent-foreground: 198.26 92.00% 4.90%;  
    --sidebar-border: 198.26 88.46% 89.80%;
    --sidebar-ring: 197.59 93.55% 48.63%;

    --radius: 0.5rem;    
  }

/* Dark theme */
.dark {
    --background: 0.00 0.00% 0.00%;
    --foreground: 197.14 89.74% 92.35%;

    --primary: 197.59 93.55% 48.63%;
    --primary-foreground: 198.26 92.00% 4.90%;

    --card: 200.00 31.03% 5.69%;
    --card-foreground: 197.14 89.74% 92.35%;

    --popover: 204.00 14.29% 6.86%;
    --popover-foreground: 197.14 89.74% 92.35%;

    --secondary: 197.78 93.10% 17.06%;
    --secondary-foreground: 0.00 0.00% 100.00%;

    --muted: 0.00 0.00% 9.80%;
    --muted-foreground: 0.00 0.00% 50.20%;

    --accent: 197.78 93.10% 17.06%;
    --accent-foreground: 197.14 89.74% 92.35%;

    --destructive: 0.00 84.24% 60.20%;
    --destructive-foreground: 210.00 40.00% 98.04%;

    --border: 197.14 15.91% 17.25%;

    --input: 198.26 22.77% 19.80%;

    --ring: 197.59 93.55% 48.63%;

    --chart-1: 197.59 93.55% 48.63%;
    --chart-2: 197.66 93.36% 41.37%;
    --chart-3: 197.48 93.79% 31.57%;
    --chart-4: 197.34 94.12% 26.67%;
    --chart-5: 197.88 92.86% 21.96%;

    --sidebar: 204.00 14.29% 6.86%;
    --sidebar-foreground: 197.14 89.74% 92.35%;
    --sidebar-primary: 197.59 93.55% 48.63%;  
    --sidebar-primary-foreground: 198.26 92.00% 4.90%;
    --sidebar-accent: 197.59 93.55% 48.63%;
    --sidebar-accent-foreground: 198.26 92.00% 4.90%;  
    --sidebar-border: 198.26 92.00% 9.80%;
    --sidebar-ring: 197.59 93.55% 48.63%;

    --radius: 0.5rem;    
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}
